{% load staticfiles %}
<html>
<!DOCTYPE html>

<head>
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
        <section id="maindiv">
            <a href="/tinq/index">
                <div class="trio" id="t1">
                    <div class="caption">
                        <div class="caption-content">
                            TINQ
                        </div>
                    </div>
                </div>
            </a>
            <a href="/qtree">
                <div class="trio" id="t2">
                    <div class="caption">
                        <div class="caption-content">
                            QTREE
                        </div>
                    </div>
                </div>
            </a>
            <a href="/qtree">
                <div class="trio" id="t3">
                    <div class="caption">
                        <div class="caption-content">
                            PLACEHOLDER
                        </div>
                    </div>
                </div>
            </a>
        </section>
</body>

</html>