{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>TINQ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<script>
    function chk(){
        c_boxes = document.getElementsByClassName('chk_box');
        query_area = document.getElementById('txt_q').value;
        chk_flg = false;
        for (i = 0; i < c_boxes.length; i++)
        {
            if (c_boxes[i].checked == true){
                chk_flg = true;
            }
        }
        if(query_area != ' ' && chk_flg == true)
        {
            form = document.getElementById('form');
            form.submit();
        }
        else{
            printmsg();
        }
    }

    function printmsg(){
        
    }
</script>
<body>
    <div class="main">
        <form action="{% url 'tinq:run' %}" method="post" id = 'form' class="form">
            <div class="txtpanel">
                <div class="txtarea">
                    <label class="label">Tables</label>
                    {% for s in schemas %}
                    <input type="checkbox" class='chk_box' name='schema_check' value="{{s.table_schema}}">{{s.table_schema}} 
                    <br>
                    {% endfor %}
                </div>
                <div class="txtarea">
                    <label class="label">Query</label>
                    <textarea id='txt_q' name='txt_q' rows="40" cols="50"> </textarea>
                </div>
                <div class="txtarea">
                    <label class="label">Output</label>
                    {% csrf_token %}
                    <textarea id='txt_o' name='txt_o' rows="40" cols="50">{% for table in output %}{{table}} 
{% endfor %}
                    </textarea>
                </div>
            </div>
            {% csrf_token %}
            <div class="panel">
                <input type='button' class="btn btn-block btn-primary" name="btn_find" value="FIND" onclick="chk()"/>
            </div>
        </form>
    </div>
</body>

</html>